{% extends 'base.html' %}

{% block content %}
    <h1>short.io</h1>
    <div class="flex-container">
        <form method="post" action="{{url_for('index')}}">
            <input type="text" name="url" id="url"
                placeholder="Enter looooooooooooong URL"
                value="{{ request.form['url'] }}" autofocus></input>
            <label for="url">URL</label>
            <input type="text" name="custom_id" id="custom_id"
                placeholder="Want to customise? (optional)"
                value="{{ request.form['custom_id'] }}"></input>
            <label for="custom_id">Custom Short ID</label>
            <div class="flex-container">
            <button type="submit">Shorten!</button>
            </div>
        </form>
    </div>

    <div class="flex-container">
        {% if short_url %}
        <!-- <hr> -->
        <span class="new-url"><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>
        {% endif %}
    </div>
{% endblock %}